$font_robot: 'Roboto Mono', monospace;

.head__menu{
    position: absolute;
    left: 0;
    top: 0;
    background-color: black;
    width: 100%;
    height: 10%;
    color: white;
}
.head__menu span:nth-child(1){
    position: absolute;
    top: 11px;
    left: 50px;
    font-family: $font_robot;
    font-size: 22px;
    color: yellowgreen;
}
.head__menu span:nth-child(2){
    position: absolute;
    top: 11px;
    left: 103px;
    font-family: $font_robot;
    font-size: 22px;
    color: yellow;
}
.head__menu a:nth-child(3){
    text-decoration: none;
    color: yellowgreen;
    position: absolute;
    font-size: 19px;
    font-family: $font_robot;
    left: 600px;
    top: 11px;
}
.head__menu a:nth-child(4){
    text-decoration: none;
    color: yellowgreen;
    position: absolute;
    font-size: 19px;
    font-family: $font_robot;
    left: 700px;
    top: 11px;
}
.head__menu a:nth-child(5){
    text-decoration: none;
    color: yellowgreen;
    position: absolute;
    font-size: 19px;
    font-family: $font_robot;
    left: 850px;
    top: 11px;
}
.head__menu a:nth-child(6){
    text-decoration: none;
    color: yellowgreen;
    position: absolute;
    font-size: 19px;
    font-family: $font_robot;
    left: 1070px;
    top: 11px;
}
.head__menu a:nth-child(7){
    text-decoration: none;
    color: yellowgreen;
    position: absolute;
    font-size: 19px;
    font-family: $font_robot;
    left: 1170px;
    top: 11px;
}
.head__menu span:nth-child(3):hover{
    cursor: pointer;
    animation-name: change-color-text;
    animation-duration: 0.6s;
}
@keyframes change-color-text{
    0%{
        color: #6E9A22;
    }
    30%{
        color: #8ac02d;
    }   
    50%{
        color: #c5c537;
    }
    100%{
        color: #C7C700;
    }
}